{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load lfs_tagging_tags %}
{% load lfs_theme_tags %}
{% load reviews_tags %}
{% load tagging_tags %}

{% block title %}
    {{ product.get_meta_title }} - {{ block.super }}
{% endblock %}

{% block section %}product{% endblock %}

{% block head %}
    {% if product.get_meta_keywords %}
        <meta name="keywords" content="{{ product.get_meta_keywords }}" />
    {% endif %}
    {% if product.get_meta_description %}
        <meta name="description" content="{{ product.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs product %}
{% endblock %}

{% block content %}

    {{ product.static_block.html|safe }}

    <!-- {% product_navigation product %} -->

    <div id="product-form-wrapper">
        <form id="product-form"
              action="{% url lfs.catalog.views.product_form_dispatcher %}"
              data="{% url lfs_select_variant_from_properties %}"
              method="post">
            {% csrf_token %}
            {{ product_inline|safe }}
        </form>
    </div>
<!--
    <a name="reviews"></a>

    {% reviews_for_instance product %}
    -->

    {% tags_for_object product as tags %}
    {% if tags %}
        <div class="tags">
            <h1 class="section">{% trans 'Tags' %}</h1>
            {% for tag in tags %}
                <a href="{% url product_tag_detail tag.name %}">
                    {{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% tag_cloud_for_model catalog.Product as cloud with steps=6 min_count=1 distribution=log %}
    {% if cloud %}
        <div class="tags">
            <h1 class="section">{% trans 'Tag cloud' %}</h1>
            <div class="tag-cloud">
                {% for tag in cloud %}
                    <a href="{% url product_tag_detail tag.name %}" style="font-size:1{{ tag.font_size }}px">
                        {{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% related_products_by_tags product %}

{% endblock %}

{% block local_js %}
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    FB.init({
        appId      : fbAppId,
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
    });

/*
  FB.Event.subscribe('auth.authResponseChange', function(response) {
    if (response.status === 'connected') {
      console.log(response);
      testAPI();
    } else if (response.status === 'not_authorized') {
      FB.login();
    } else {
      FB.login();
    }
  });
*/
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            // the user is logged in and has authenticated your
            // app, and response.authResponse supplies
            // the user's ID, a valid access token, a signed
            // request, and the time the access token 
            // and signed request each expire

            //ATTENTION: user could be anonymous also
            checkFBLikes();
        } else {
            // the user isn't logged in to Facebook.
            checkReservedProduct();
        }
    });
};  


  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  function checkFBLikes() {

    var fql_query = "SELECT uid FROM page_fan WHERE page_id = "+fbPage+" and uid = "+user_id;
    
    $(document).ready(FB.api({
        method: 'fql.query',
        query: fql_query 
    },
    function(response){
        //FB.api('/me/permissions', function(response) {
        //});
        if(fbReserved == "True"){
            //product available facebook fan only,
            //check if user likes your facebook page
            if (response.length == 1 && response[0].uid == user_id){
                //he like it, so you able add-to-cart button
                //and show some message in the page
                allowPurchase(true);
            } else {
                //he doesn't like it, so you disable add-to-cart button
                //and show some message in the page 
                allowPurchase(false);
            }
        }else{
            //product available for all
            $("#add-to-cart").prop('disabled', false);
            $("#fb-like").hide();

            $("#fb-no-like").hide();
            $("#fb-already-like").hide();
        }   
    }));
  };

  function allowPurchase(allow){
    if(allow){   
        $("#add-to-cart").prop('disabled', false);
        $("#fb-like").hide();
             
        $("#fb-no-like").hide();
        $("#fb-already-like").show(); 
    } else {
        $("#add-to-cart").prop('disabled', true);
        $("#fb-like").show();

        $("#fb-no-like").show();
        $("#fb-already-like").hide();
     }
  }
  
  //if user is have no a Facebook session opened, 
  //you check if product is available to no Facebook user
  //and then you decide if show or no the add-to-cart button
  function checkReservedProduct(){
    if(fbReserved == "True"){
        allowPurchase(false);
    } else {
        $("#add-to-cart").prop('disabled', false);
        $("#fb-like").hide();

        $("#fb-no-like").hide();
        $("#fb-already-like").hide();
    }
  }
  

</script>

{% endblock %}

