{% load i18n lfs_tags %}
<div class="col-md-12 social">
    <div class="fb-like" id="fb-like" data-href="https://www.facebook.com/{{ settings.FACEBOOK_PAGE }}" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"i data-width="260"></div>
    <br/>
</div>

<div class="useractions text-right">
{% if user.is_authenticated %}

    {% if user.first_name %}
	    <span>{% trans 'Ciao' %} 
            <a href="{% url lfs_my_account %}">
                {{ user.first_name }} {{user.last_name}}
            </a>
        </span>
    {% else %}
	<span><a href="{% url lfs_my_account %}">{{ user.username }}</a></span>
    {% endif %} 

    {% if user.is_superuser %}
    |
	{% if category %}
	    <a href="{% url lfs_manage_category category.id %}">{% trans 'Manage' %}</a>
	{% endif %}
	{% if product %}
	    <a href="{% url lfs_manage_product product.id %}">{% trans 'Manage' %}</a>
	{% endif %}
	{% if page %}
	    <a href="{% url lfs_manage_page page.id %}">{% trans 'Manage' %}</a>
	{% endif %}
	{% if not category and not product and not page %}
	    <a href="{% url lfs_manage_dashboard %}">{% trans 'Manage' %}</a>
	{% endif %}
    
    {% endif %}
    
    
    {% comment %}
    |
    <a href="{% url lfs_logout %}">{% trans 'Logout' %}</a> 
    {% endcomment %}

    {% comment %}
    {% else %}
    {% if not ANON_ONLY %}
	<a href="{% url lfs_login %}">{% trans 'Login' %}</a>
    {% endif %}
    {% endcomment %}

{% endif %}
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=398437633619154";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

