{% extends "lfs/customer/login.html" %}
{% load url from future %}
{% block wrapper %}

{% if not user.is_authenticated %}

{% include 'django_facebook/_facebook_js.html' %}

<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post" id="facebook_form">
    <a href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);">Register, login or connect with facebook</a>
    <input type="hidden" value="{{ my_next }}" name="next" />
    <input type="hidden" value="{{ request.path }}" name="register_next" />
    <input type="hidden" value="{{ request.path }}" name="error_next" />
    {% csrf_token %}
</form>
</br>

{% endif %}

{% if user.is_authenticated %}
<h2>Welcome {{ user.first_name }} {{ user.last_name}}</h2>
<h2>Are you now logged in!!!</h2>

{% endif %}

{% endblock %}

{% block local_js  %}

<script>
$(function() {
	setTimeout(function(){
        F.connect(document.getElementById("facebook_form"));
    },3000);
//$("#facebook_form").submit();
});

</script>
{% endblock  %}
